In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
all_films = pd.read_csv('D:/projects/test/module_1/movie_bd_v5.csv')
all_films.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
588,tt0234829,34000000,19693891,Summer Catch,Freddie Prinze Jr.|Jessica Biel|Fred Ward|Matt...,Mike Tollin,Are you game?,A coming-of-age romantic comedy set against th...,108,Drama|Comedy|Romance,Tollin/Robbins Productions|Warner Bros.,8/22/2001,4.8,2001
484,tt1244659,31000000,15134293,Extraordinary Measures,Harrison Ford|Brendan Fraser|Keri Russell|Cour...,Tom Vaughan,Don't hope for a miracle. Make one.,Working-class father John Crowley is finally o...,105,Drama,Double Feature Films|CBS Films,1/21/2010,5.8,2010
649,tt0960731,80000000,212874442,Bedtime Stories,Adam Sandler|Keri Russell|Guy Pearce|Courteney...,Adam Shankman,Whatever they dream up... he has to survive.,Skeeter Bronson is a down-on-his-luck guy who'...,99,Fantasy|Comedy|Family|Romance,Walt Disney Pictures|Happy Madison Productions...,12/24/2008,5.8,2008
1413,tt0388500,25000000,36351350,Beauty Shop,Queen Latifah|Alicia Silverstone|Andie MacDowe...,Bille Woodruff,A Cut Above,You thought you'd heard it all in the barbersh...,105,Comedy|Romance,Metro-Goldwyn-Mayer (MGM),6/2/2005,5.1,2005
367,tt1314228,58000000,85280250,Did You Hear About The Morgans?,Hugh Grant|Sarah Jessica Parker|Mary Steenburg...,Marc Lawrence,We're not in Manhattan anymore.,"In New York City, an estranged couple who witn...",103,Comedy,Columbia Pictures|Castle Rock Entertainment|Re...,12/17/2009,5.0,2009

In [9]:
all_films.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# Get columns name
columns = all_films.columns
''' ['imdb_id', 'budget', 'revenue', 'original_title', 'cast', 'director',
       'tagline', 'overview', 'runtime', 'genres', 'production_companies',
       'release_date', 'vote_average', 'release_year']
'''
# New column for title + imdb
all_films['title_imdb'] = all_films.original_title + ' (' + all_films.imdb_id + ')'

# New column with profit
all_films['profit'] = all_films.revenue - all_films.budget
# New column for release_month
all_films['release_month'] = list(map(int, all_films.release_date.str.split('/').str[0]))

# Split genres
all_films['genres'] = all_films.genres.str.split('|')
# Split directors
all_films['director'] = all_films.director.str.split('|')
# Split cast
all_films['cast'] = all_films.cast.str.split('|')
# Split production_companies
all_films['production_companies'] = all_films.production_companies.str.split('|')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [11]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [33]:
# тут пишем ваш код для решения данного вопроса:
display(all_films.query('budget == budget.max()').title_imdb.item())

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [121]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [34]:
display(all_films.query('runtime == runtime.max()').title_imdb.item())

'Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [35]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
display(all_films.query('runtime == runtime.min()').title_imdb.item())

'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [18]:
answers['4'] = '2. 110'
display(round(all_films.runtime.mean()))

110

# 5. Каково медианное значение длительности фильмов?

In [19]:
answers['5'] = '1. 107'
display(round(all_films.runtime.median()))

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [32]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
display(all_films.query('profit == profit.max()').title_imdb.item())

'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [30]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
display(all_films[all_films.profit == all_films.profit.min()].title_imdb.item())

'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [25]:
answers['8'] = '1. 1478'
display(len(all_films[all_films.profit > 0]))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [29]:
answers['9'] = '4. The Dark Knight (tt0468569)'
films2008 = all_films[all_films.release_year == 2008]
# Return title and imdb of film with maximal revenue
display(films2008[films2008.revenue == films2008.revenue.max()].title_imdb.item())

'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

films12_14 = all_films[all_films.release_year.isin(range(2012, 2014 + 1))]
# print title and imdb of film with minimal profit from 2012 to 2014 years
display(films12_14[films12_14.profit == films12_14.profit.min()].title_imdb.item())

'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [39]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

# Explode and group by genres 
all_films_by_genres = all_films.explode('genres').groupby('genres')
# Display more popular genre 
display(all_films_by_genres.size().sort_values(ascending=False))

'Drama'

ВАРИАНТ 2

In [53]:
# Get all genres from dataset
all_genres = set(np.concatenate(all_films.genres.to_list()))
# structure for storage count of films by genres
genres_count = {}
for g in all_genres:
    # get count of record with genre = g in dataset
    genres_count[g] = len(all_films[all_films.genres.apply(lambda x: g in x)])
# get key for maximal value of count
display(max(genres_count, key=genres_count.get))

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [54]:
answers['12'] = '1. Drama'

# Get most profit genre
all_films_by_genres = all_films[all_films.profit > 0].explode('genres').groupby('genres')
# Display profit genre 
display(all_films_by_genres.size().sort_values(ascending=False))

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [64]:
answers['13'] = '5. Peter Jackson'

# Explode films by director and get director with maximal summary of revenue
all_films_by_director = all_films.explode('director').groupby('director').sum()
# Return the director with maximal summary of revenue 
display(all_films_by_director.revenue.sort_values(ascending=False).head(5))

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [65]:
answers['14'] = '3. Robert Rodriguez'

# explode dataset by genre and director
all_films_genre_dir = all_films.explode('genres').explode('director')

# get Action genre and group by director and calculate count 
all_films_dir_groups = all_films_genre_dir.query("genres == 'Action'").groupby('director').count()
# display the director with maximal unique imdb 
display(all_films_dir_groups.imdb_id.sort_values(ascending=False).head(5))

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Name: imdb_id, dtype: int64

Вариант 2

In [67]:
# explode dataset by genre and director
all_films_genre_dir = all_films.explode('genres').explode('director')

# Make table with genres and directors. Value = count of imdb_id
pt = all_films_genre_dir.pivot_table(values='imdb_id', index='genres', columns='director', aggfunc='count', fill_value=0)
# display first item for sorting set by count 
display(pt.loc['Action'].sort_values(ascending=False).head(5))

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Name: Action, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [122]:
answers['15'] = '3. Chris Hemsworth'

# explode dataset by cast
all_films_actor = all_films[all_films.release_year == 2012].explode('cast')
# group by actor and calculate summary 
all_films_cast_groups = all_films_actor.groupby('cast').sum()
# display the actor with maximal revenue '''
display(all_films_cast_groups.revenue.sort_values(ascending=False).head(5))

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [70]:
answers['16'] = '3. Matt Damon'

# Get films with budget more mean value 
all_profit_films = all_films.query('budget > budget.mean()')
# Explode by actor and group films by actor
actors_films = all_profit_films.explode('cast').groupby('cast').imdb_id.count()
# diaplay actors from profit budget films 
display(actors_films.sort_values(ascending=False).head(5))

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
Name: imdb_id, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [73]:
answers['17'] = '2. Action'

# Get all films with Cage 
nicolas_films = all_films.explode('cast').query('cast == \'Nicolas Cage\'')
# Explode films and group by genres 
nicolas_films_genres = nicolas_films.explode('genres').groupby('genres')
# display most popular genre
display(nicolas_films_genres.size().sort_values(ascending=False).head(5))

genres
Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
dtype: int64

Вараинт 2

In [74]:
# Get all films with Cage 
nicolas_films = all_films.explode('cast').query('cast == \'Nicolas Cage\'').explode('genres')
nicolas_pt = nicolas_films.pivot_table(values='imdb_id', index='cast', columns='genres', aggfunc='count', fill_value=0)
nicolas_pt.loc['Nicolas Cage'].sort_values(ascending=False)
display(nicolas_pt.loc['Nicolas Cage'].sort_values(ascending=False).head(5))

genres
Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: Nicolas Cage, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [76]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# Get Paramount Pictures films with minimal profit 
paramout_films = all_films.explode('production_companies').query('production_companies == \'Paramount Pictures\'')
# Return title + imdb for film with minimal profit 
display(paramout_films.query(f'profit == profit.min()').title_imdb)

925    K-19: The Widowmaker (tt0267626)
Name: title_imdb, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [123]:
answers['19'] = '5. 2015'

# Get films by task variants and group by years with calculate sum of values
display(all_films.groupby('release_year')
        .sum()
        .revenue.sort_values(ascending=False).head(5)) # sort by revenue and display 5 maximal elements

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [124]:
answers['20'] = '1. 2014'

# Get films by task variants
year_films = all_films.copy()
year_films['production_companies'] = year_films['production_companies'].str.join('|')

# Get WB films and group by years with calculate summary values 
wb_films = year_films[year_films.production_companies.str.contains('Warner Bros')].groupby('release_year').sum()

display(wb_films['profit'].sort_values(ascending=False).head(5))

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [125]:
answers['21'] = '4. Сентябрь'

# group by release month
month_groups = all_films.groupby('release_month').size()
# sort and display numbers of months
display(month_groups.sort_values(ascending=False).head(5))

release_month
9     227
12    190
10    186
8     161
3     156
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [126]:
answers['22'] = '2. 450'

# count films with release month in 6, 7, 8 (june, jule, august)
display(len(all_films[all_films.release_month.isin([6, 7, 8])]))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [85]:
answers['23'] = '5. Peter Jackson'

# Get winter_films and explode films by director 
winter_films = all_films[all_films.release_month.isin([1, 2, 12])].explode('director')
# Group by director and get size of groups 
director_groups = winter_films.groupby('director').size().sort_values(ascending=False)
display(director_groups.head(5))

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [86]:
answers['24'] = '5. Four By Two Productions'

# Filter by studio from task 
studio_films = all_films.explode('production_companies')
# New column for length of title 
studio_films['title_length'] = studio_films.original_title.str.len()
# Group by companies name and sort by mean value of title length '''
display(studio_films.groupby('production_companies').title_length.mean().sort_values(ascending=False).head(5))

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [93]:
answers['25'] = '3. Midnight Picture Show'

# Explode by companies
studio_films = all_films.explode('production_companies')
# New column for length of title 
studio_films['overview_length'] = studio_films.overview.str.count(' ')
# Group by companies name and sort by mean value of title length 
display(studio_films.groupby('production_companies').overview_length.mean().sort_values(ascending=False).head(5))

production_companies
Midnight Picture Show               174.0
Room 9 Entertainment                160.0
Heineken Branded Entertainment      160.0
98 MPH Productions                  158.0
Brookwell-McNamara Entertainment    155.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [5]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

best_films = all_films.sort_values('vote_average', ascending=False).head(int(len(all_films) * 0.01))
display(best_films.original_title)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

Вариант 2

In [7]:
display(all_films[all_films.vote_average >= all_films.vote_average.quantile(0.99)].original_title)

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [128]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# pairs from answers
ans = ['Johnny Depp & Helena Bonham Carter', 'Ben Stiller & Owen Wilson', 'Vin Diesel & Paul Walker',
                    'Adam Sandler & Kevin James', 'Daniel Radcliffe & Rupert Grint']
# Split actors by pair
split_answers = list(map(lambda x: list(map(lambda s: s.strip(), x.split('&'))), ans))

# Get all actor from answers 
all_actors = list(np.concatenate(split_answers))

# Get films with actors 
films = all_films.explode('cast')
films = films[films.cast.isin(all_actors)]

films['cast_group'] = films.cast \
    .apply(lambda cast: [i for i in range(len(split_answers)) if cast in split_answers[i]][0])
# Get films with one of pair '''
cast_films = films.groupby(['imdb_id', 'cast_group']).filter(lambda g: len(g) == 2)
# Return title for most frequent pair '''
display(ans)

display(cast_films.groupby('cast_group').size().apply(lambda x: x // 2).sort_values(ascending=False))

['Johnny Depp & Helena Bonham Carter',
 'Ben Stiller & Owen Wilson',
 'Vin Diesel & Paul Walker',
 'Adam Sandler & Kevin James',
 'Daniel Radcliffe & Rupert Grint']

cast_group
4    8
1    6
0    6
3    5
2    5
dtype: int64

Вариант 2

In [5]:
cast_films = all_films.copy()
# get al pairs for cast of films (name sotred by alphabet)
cast_films.cast = cast_films.cast.apply(lambda x: list(combinations(sorted(x), r=2)))
# explode by pairs
pair_films = cast_films.explode('cast')
# group by cast pairs and get count of films for pair. Ascending sort and get 5 pairs
display(pair_films.groupby('cast').size().sort_values(ascending=False).head(5))

cast
(Daniel Radcliffe, Rupert Grint)       8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
dtype: int64

# Submission

In [129]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 4: '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '11': '3. Drama',
 '12': '1. Drama',
 '14': '3. Robert Rodriguez',
 '13': '5. Peter Jackson',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '2': '2. Gods and Generals (tt0279111)',
 '15': '3. Chris Hemsworth',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450'}

In [130]:
# и убедиться что ни чего не пропустил)
len(answers)

27